
<section class="footer footer-dark bg-dark">
 <div class="container">
    <section class="redes-sociales">
    <div class="row">
         <div class="col-12 col-sm-6">
          <div class="row">
            <div class="col-4">
          <a href="https://www.facebook.com/Sistemas.Cuenri/" target="_blank" class="red-social facebook">
            <i class="fa fa-facebook"></i>
          </a>
         </div>
         <div class="col-4">
          <a href="#" class="red-social linkedin">
            <i class="fa fa-linkedin"></i>
          </a>
         </div>
         <div class="col-4">
          <a href="#" class="red-social youtube">
            <i class="fa fa-youtube"></i>
          </a>
         </div>
          </div>
        </div>
          <div class="col-12 col-sm-6">
            <div class="row">
              <div class="col-4">
          <a href="#" class="red-social twitter">
            <i class="fa fa-twitter"></i>
          </a>
           </div>
           <div class="col-4">
            <a href="#" class="red-social whatsapp">
              <i class="fa fa-whatsapp"></i>
            </a>
           </div>
           <div class="col-4">
            <a href="#" class="red-social google">
              <i class="fa fa-google"></i>
            </a>
           </div>
            </div>
          </div>
    </div>
  </section>
 </div>
</section>
<footer class="footer-dark bg-dark">
<div class="container">
   <div class="row">
	   <div class="col-12 col-sm">
	      <div class="text-center footer-text">
	      	<hr class="hr">
	           <small>&copy;2018 Todos los derechos reservados | <a href="http://www.cuenri.com/" target="_blank">www.cuenri.com</a> </small>
	      </div>

	   </div>
   </div>
</div>
</footer>
<script src="/webpage/Resource/js/functions.js"></script>
<script src="/webpage/Resource/js/Usuarios.js"></script>
<script src="/webpage/Resource/js/script.js"></script>
<script src="/webpage/Resource/js/Email.js"></script>
<script src="/webpage/Resource/js/jquery.js"></script>
<script src="/webpage/Resource/js/bootstrap.js"></script>
<script type="text/javascript" src="/webpage/Resource/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/webpage/Resource/js/app.js"></script>
</body>
</html>
