
<footer class="footer-dark bg-dark">
<div class="container">	
   <div class="row">
	   <div class="col-12 col-sm">
	      <div class="text-center footer-text">
	      	<hr class="hr">
	           <small>&copy;2018 Todos los derechos reservados | <a href="http://www.cuenri.com/" target="_blank">www.cuenri.com</a> </small>
	      </div>
	      
	   </div>
   </div> 
</div>
</footer>
<script src="/store/Resource/js/functions.js"></script> 
<script src="/store/Resource/js/Usuarios.js"></script> 
<script src="/store/Resource/js/script.js"></script>
<script src="/store/Resource/js/Email.js"></script>
<script src="/store/Resource/js/jquery.js"></script>
<script src="/store/Resource/js/bootstrap.js"></script>
<script type="text/javascript" src="/store/Resource/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/store/Resource/js/app.js"></script>
</body>
</html>