

  <section class="index">
    <section class="header" id="header">
    <div class="fondo-opaco">
       <div class="container">
          <div class="contenedor-textos">
                  <div class="row">
            <div class="col-12">
            <p>Adquiere tu Sistema al mejor precio</p>
            <div class="form-group">
              <input type="search"  class="form-control" placeholder="Buscar">
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
              <a href="/webpage/Sistemas/lista" class="btn btn-primary">Ver Sistemas</a>
            </div>
          </div>
          </div>
      </div>
    </div>
  </section>
  </section>

    <section class="main">
    <section class="quienes-somos">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2 class="bienvenida">BIENVENIDOS A CUENRI</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
             <p class="descripcion">Desarrollamos sistemas a medida para pequeñas, medianas y grandes empresas. En los entornos Web, Escritorio y móvil, utilizando lo último en tecnologías contando con un equipo especializado. Dando los Beneficios en - Presencia empresarial - Diseño - Mejora de los proceso - Flexibilidad - Modular - Seguridad.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="caracteristicas">
        <div class="container" >
          <div class="row">
            <div class="col-sm-12">
              <h3 class="titulo">Caracteristicas</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 caracteristica">
              <img src="/webpage/Resource/images/inicio/icono1.png" class="icon">
              <h4 class="primera-linea">Ahorro</h4>
              <p class="parrafo">Cuenri te brinda precios con los mejores descuentos dentro de todo el mercado informatico.</p>
            </div>
            <div class="col-sm-4 caracteristica">
              <img src="/webpage/Resource/images/inicio/icono2.png" class="icon">
              <h4 class="primera-linea">Seguridad</h4>
              <p class="parrafo">Cuenri te brinda una mejor seguridad para que tu informacion pernanezca a salvo en el uso de nuestros sistemas.</p>
            </div>
            <div class="col-sm-4 caracteristica">
              <img src="/webpage/Resource/images/inicio/icono3.png" class="icon">
              <h4 class="primera-linea">Estabilidad</h4>
              <p class="parrafo">Cuenri esta siempre pendiente de tus consultas ante cualquier circuntancias dentro de unos de nuestros sistemas.</p>
            </div>
          </div>
          </div>
      </section>
      <section class="productos">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h3 class="titulo">Productos</h3>
            </div>
          </div>
          <div class="producto">
            <div class="row">
              <div class="col-sm-4">
                <img class="producto-img" src="/webpage/Resource/images/bg.jpg" alt="" id="">
              </div>
              <div class="col-sm-8">
               <div class="informacion">
                  <h5 class="nombre">Sistemas de Matricula</h5>
                <p class="sub-titulo">Última actualización Noviembre 2018</p>
                <p class="parrafo text-dark">Este sistema esta a disposicion para toda I.E la cual quiera automatizar el proceso de Matriculas de su alumnado para agilizar el proceso.</p>
              <a href="/webpage/Sistemas/matricula" class="btn btn-primary mt-2 mb-5">Comprar</a>
              <p class="text-right calificacion">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
               </div>
              </div>
            </div>
          </div>
          <div class="producto">
            <div class="row">
              <div class="col-sm-4">
                <img class="producto-img" src="/webpage/Resource/images/bg.jpg" alt="" id="">
              </div>
              <div class="col-sm-8">
               <div class="informacion">
                  <h5 class="nombre">Sistemas de Notas</h5>
                <p class="sub-titulo">Última actualización Noviembre 2018</p>
                <p class="parrafo text-dark">Este sistema esta a disposicion para toda I.E la cual quiera automatizar el proceso de Notas de los años academicos de su alumnado.</p>
              <a href="/webpage/Sistemas/notas" class="btn btn-primary mt-2 mb-5">Comprar</a>
              <p class="text-right calificacion">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
               </div>
              </div>
            </div>
          </div>
          <div class="producto">
            <div class="row">
              <div class="col-sm-4">
                <img class="producto-img" src="/webpage/Resource/images/bg.jpg" alt="" id="">
              </div>
              <div class="col-sm-8">
               <div class="informacion">
                  <h5 class="nombre">Sistemas de Asistencia</h5>
                <p class="sub-titulo">Última actualización Noviembre 2018</p>
                <p class="parrafo text-dark">Este sistema esta a disposicion para toda organizacion y/o empresa la cual quiera automatizar el proceso de asistencia de su empleados.</p>
              <a href="/webpage/Sistemas/notas" class="btn btn-primary mt-2 mb-5">Comprar</a>
              <p class="text-right calificacion">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
               </div>
              </div>
            </div>
          </div>
          <div class="producto-footer">
            <div class="row">
              <div class="col-12 text-center">
                <a href="/webpage/Sistemas/lista">Ver todos los Productos</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="contactanos" id="contactanos">
       <div class="container  pb-5">
          <div class="row">
          <div class="col-12">
            <h3 class="titulo">Contactanos</h3>
          </div>
          </div>
         <div class="row">
          <div class="col-md-6">
            <div class="formulario">
              <div class="row">
              <div class="col-md-12">
               <h4 class="sub-titulo">Envianos tu Consulta</h4>
              </div>
            </div>
              <div class="row">
              <div class="col-sm-12">
                  <div class="form-group">
                    <input id="txtNombre" placeholder="Nombre" type="text" name="" class="form-control">
                  </div>
               </div>

            </div>
            <div class="row">
              <div class="col-sm-12">
                  <div class="form-group">
                    <input id="txtCorreo" placeholder="Correo" type="email" name="" class="form-control">
                  </div>
               </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                  <div class="form-group">
                    <textarea id="txtMensaje" placeholder="Mensaje" class="form-control"></textarea>
               </div>
            </div>
          </div>
           <div class="row">
              <div class="col-md-12 text-right">
                <div id="errorContacto">

                </div>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12 text-right">
                  <input id="btnEnviar" type="button" name="" class="btn btn-primary btn-block" value="Enviar">
            </div>
          </div>
            </div>
           </div>
          <div class="col-md-6">
             <div class="row">
              <div class="col-md-12">
               <h4 class="sub-titulo">Ubícanos en</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="mapa">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31216.117263341715!2d-76.99621765661993!3d-12.042511682697445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c676e6cef7e3%3A0x5e83b54b9576d7ec!2sEl+Agustino!5e0!3m2!1ses-419!2spe!4v1542508523848" width="100%" height="260px" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
              </div>
            </div>
          </div>

       </div>
      </section>
    </section>


     <div class="modal modal-login" tabindex="-1" role="dialog" id="modalLogin">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">¡Inicia sesión en tu cuenta de Cuenri!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

          <form id="frmLogin" style="max-width: 350px;margin: auto;">
            <div id="errorLogin">
               <!-- <div class="alert alert-danger" role="alert">
                      Error al validar datos.
                </div>-->
            </div>

            <div class="form-group">
              <input type="email" class="form-control" id="txtEmail" aria-describedby="emailHelp" placeholder="Correo electrónico" >

            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="txtPassword" placeholder="Contraseña">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" checked>
              <label class="form-check-label" for="exampleCheck1" >Recordar Contraseña</label>
            </div>
            <div class="form-group">
                <div class="text-center">
                  <input type="button" class="btn btn-primary btn-block" name="" title="Aceptar" value="Aceptar" onclick="loginUser()">
                </div>
              </div>
          </form>

      </div>
      <div class="modal-footer text-center">
        <div class="text-center">
          ¿No tienes una cuenta? Regístrate
        </div>
      </div>
    </div>
  </div>
</div>


   <script type="text/javascript" src="/webpage/Resource/js/index.js"></script>
