
<section class="listado">

	<section class="header">
		<div class="container">
				<div class="header-text">
					<div class="row">
					<div class="col-sm-8">
					<h2>Compra tu sistema que necesites para tener una mejor administracion de Información.</h2>
					<p>
						El sistema es lo que necesitas.
					</p>
					</div>
					<div class="col-sm-4">
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="lista">
		<div class="container">

			<div class="row">
				<div class="col-12">
					<h2>Sistemas</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="card" style="width: 18rem;">
					  <img class="card-img-top" src="/store/Resource/images/sistemas/matricula.png" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title">Card title</h5>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
					  </div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card" style="width: 18rem;">
					  <img class="card-img-top" src="/store/Resource/images/sistemas/matricula.png" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title">Card title</h5>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
					  </div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card" style="width: 18rem;">
					  <img class="card-img-top" src="/store/Resource/images/sistemas/matricula.png" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title">Card title</h5>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
</section>
