
<section class="listado">

	<section class="header">
		<div class="container">
				<div class="header-text">
					<div class="row">
					<div class="col-sm-8">
					<h2>Compra tu sistema que necesites para tener una mejor administracion de Información.</h2>
					<p>
						Compralo Ahora.
					</p>
					</div>
					<div class="col-sm-4">

					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="lista">
		<div class="container">

			<div class="row">
				<div class="col-12">
					<h2>Sistemas</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="card" style="width: 18rem;">
					  <img class="card-img-top" src="/webpage/Resource/images/sistemas/card-matricula.jpg" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title">Sistemas de Matricula</h5>
					    <p class="card-text">Este sistema esta a disposicion para toda I.E la cual quiera automatizar
								el proceso de Matriculas de su alumnado para agilizar el proceso.</p>
					    <a href="#" class="btn btn-primary">Ver Demo</a>
					  </div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card" style="width: 18rem;">
					  <img class="card-img-top" src="/webpage/Resource/images/sistemas/card-notas.jpg" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title">Sistemas de Notas</h5>
					    <p class="card-text">Este sistema esta a disposicion para toda I.E la cual quiera automatizar el
								proceso de Notas de los años academicos de su alumnado.</p>
					    <a href="#" class="btn btn-primary">Ver Demo</a>
					  </div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card" style="width: 18rem;">
					  <img class="card-img-top" src="/webpage/Resource/images/sistemas/card-asistencia.jpg" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title">Sistemas de Asistencia</h5>
					    <p class="card-text">Este sistema esta a disposicion para toda organizacion y/o empresa la
								cual quiera automatizar el proceso de asistencia de su empleados.</p>
					    <a href="#" class="btn btn-primary">Ver Demo</a>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</section>

</section>
