
<section class="notas">

	<section class="header">
		<div class="container">
				<div class="header-text">
					<div class="row">
					<div class="col-sm-8">
					<h2>Sistema de Notas</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque id natus repellat sint aperiam ducimus voluptas sed error possimus, quos, et quae! Maxime delectus dolorum sequi accusamus iure pariatur soluta.
					</p>
					</div>
					<div class="col-sm-4">
						
					</div>
				</div>
			</div>
		</div>
	</section>

	
</section>



